
:root {
  --background: #f6f5f9;
  --foreground: #403352;
  --accent: #6f49ab;
}

body {
  font-family: 'Libertinus Sans', 'Lato', sans-serif;
  font-size: 1.2rem;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  margin-bottom: 0em;
}

p, ul, summary {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

details {
  margin-top: 1em;
  margin-bottom: 1em;
}

summary {
  font-weight: bold;
  cursor: pointer;
  font-size: 1.2em;
}

