
:root {
  --background: #f6f5f9;
  --foreground: #403352;
  --accent: #6f49ab;
}

body {
  font-family: 'Libertinus Sans', 'Lato', sans-serif;
  font-size: 1.2rem;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  margin-bottom: 0em;
}

p, ul, summary {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

details {
  margin-top: 1em;
  margin-bottom: 1em;
}

summary {
  font-weight: bold;
  cursor: pointer;
  font-size: 1.2em;
}

.contact-form input, .contact-form textarea {
  width: 100%;
  padding: 0.6rem 0.8rem;
  border: 3px solid var(--accent);
  background: var(--background);
  color: var(--foreground);
  font-size: 1rem;
  border-radius: 0;
  box-sizing: border-box; /* очень важно! */
  height: 2.5rem; /* базовая высота для input */
  font-family: inherit;
}

/* textarea для сообщения */
.contact-form textarea {
  height: auto; /* пусть регулируется количеством строк */
  margin-top: 0%;
  min-height: 5rem; /* минимальная высота */
  padding: 0.6rem 0.8rem; /* одинаковый padding с input */
  line-height: 1.4; /* ровный курсор */
  box-sizing: border-box; /* чтобы padding учитывался */
}
