@font-face {
  font-family: 'Libertinus Sans';
  src: url('../fonts/LibertinusSans-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Libertinus Sans';
  src: url('../fonts/LibertinusSans-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Libertinus Sans';
  src: url('../fonts/LibertinusSans-Italic.ttf');
  font-weight: normal;
  font-style: italic;
}