/* latin-ext */
@font-face {
  font-family: 'Libertinus';
  src: url('static/fonts/libertinus/LibertinusSerif-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Libertinus';
  src: url('static/fonts/libertinus/LibertinusSerif-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Libertinus';
  src: url('static/fonts/libertinus/LibertinusSerif-Italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}
body {
  font-family: 'Libertinus', serif;
}
