/* latin-ext */
@font-face {
  font-family: 'Libertinus Sans';
  src: url('static/fonts/libertinus/LibertinusSans-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Libertinus Sans';
  src: url('static/fonts/libertinus/LibertinusSans-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Libertinus Sans';
  src: url('static/fonts/libertinus/LibertinusSans-Italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}
body {
  font-family: 'Libertinus Sans', sans;
}
